<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mission to Mars - Dashboard</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Muli:300" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="header">
            <h1>Mission To Mars</h1>
            <button type="submit">Scrape New Data</button>
        </div>

    </header>
    <section class="news">
        <h2>Latest Mars News</h2>
        <hr>
        <h3>Hoe NASA's Mats Helicopter Will reach the Red Palnet's Surface</h3>
        <p>The small craft that powered, controlled flight is possible on another planet. But just getting ont the surface will take a whole lot of ingenuity.</p>
    </section>
    <section class="feature-data">
        <div class="feature-img">
            <h2>Featured Mars Image</h2>
            <img src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19821_hires.jpg" alt="" srcset="">
        </div>
        <div class="feature-table">
            <h2>Mars Facts</h2>
            <table border="1" class="dataframe">
                <thead>
                    <tr style="text-align: center;">
                        <th>Description</th>
                        <th>Mars</th>
                        <!-- <th>Mars</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <th>0</th> -->
                        <td>Equatorial Diameter:</td>
                        <td>6,792 km</td>
                    </tr>
                    <tr>
                        <!-- <th>1</th> -->
                        <td>Polar Diameter:</td>
                        <td>6,752 km</td>
                    </tr>
                    <tr>
                        <!-- <th>2</th> -->
                        <td>Mass:</td>
                        <td>6.39 × 10^23 kg (0.11 Earths)</td>
                    </tr>
                    <tr>
                        <!-- <th>3</th> -->
                        <td>Moons:</td>
                        <td>2 (Phobos &amp; Deimos)</td>
                    </tr>
                    <tr>
                        <!-- <th>4</th> -->
                        <td>Orbit Distance:</td>
                        <td>227,943,824 km (1.38 AU)</td>
                    </tr>
                    <tr>
                        <!-- <th>5</th> -->
                        <td>Orbit Period:</td>
                        <td>687 days (1.9 years)</td>
                    </tr>
                    <tr>
                        <!-- <th>6</th> -->
                        <td>Surface Temperature:</td>
                        <td>-87 to -5 °C</td>
                    </tr>
                    <tr>
                        <!-- <th>7</th> -->
                        <td>First Record:</td>
                        <td>2nd millennium BC</td>
                    </tr>
                    <tr>
                        <!-- <th>8</th> -->
                        <td>Recorded By:</td>
                        <td>Egyptian astronomers</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="gallery">
        <div class="gallery-text">
            <h1>Mars Hemispheres</h1>
            <hr>
        </div>
        <div class="gallery-img">
            <div class="row-1">
                <img src="" alt="">
                <span class="caption">Text below the image</span>
            </div>
            <div class="row-2">
                <img src="" alt="">
                <span class="caption">Text below the image</span>
            </div>
            <div class="row-3">
                <img src="" alt="">
                <span class="caption">Text below the image</span>
            </div>
            <div class="row-4">
                <img src="" alt="">
                <span class="caption">Text below the image</span>
            </div>
        </div>
    </section>

    <footer></footer>
    <script src="" async defer></script>
</body>

</html>